In [8]:
from pybaseball import batting_stats_range
import pandas as pd

# Seeing whether players performance increase or decrease after HR derby performance in last 3 derbys

In [4]:
derbys = pd.read_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\HR derby names.xlsx")
derbys

          HR_2021                HR_2019          HR_2018
0   Shohei Ohtani           Matt Chapman    Jesus Aguilar
1       Juan Soto  Vladimir Guerrero Jr.     Rhys Hoskins
2     Pete Alonso         Carlos Santana     Alex Bregman
3    Trey Mancini              Josh Bell   Kyle Schwarber
4      Joey Gallo       Ronald Acuna Jr.     Bryce Harper
5    Trevor Story           Joc Pederson  Freddie Freeman
6      Matt Olson           Alex Bregman        Max Muncy
7  Salvador Perez            Pete Alonso      Javier Baez

In [47]:
derbys_2021 = list(derbys["HR_2021"])
derbys_2019 = list(derbys["HR_2019"])
derbys_2018 = list(derbys["HR_2018"])

In [48]:
before_2021 = batting_stats_range("2021-04-01", "2021-07-12").query('Name in @derbys_2021')
after_2021 = batting_stats_range("2021-07-12", "2021-11-01").query('Name in @derbys_2021')
before_2021

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,HBP,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS
22,Pete Alonso,26,401,Maj-NL,New York,78,313,277,39,69,...,5,0,3,8,1,0,0.249,0.326,0.477,0.802
275,Joey Gallo,27,402,Maj-AL,Texas,84,351,276,53,66,...,3,0,0,3,6,0,0.239,0.402,0.522,0.923
489,Trey Mancini,29,401,Maj-AL,Baltimore,86,362,324,48,83,...,5,0,1,12,0,0,0.256,0.332,0.460,0.791
595,Shohei Ohtani,26,401,Maj-AL,Los Angeles,84,343,301,65,84,...,3,0,1,4,12,4,0.279,0.364,0.698,1.062
600,Matt Olson,27,401,Maj-AL,Oakland,86,364,312,58,88,...,5,0,5,7,3,1,0.282,0.371,0.567,0.938
628,Salvador Perez,31,402,Maj-AL,Kansas City,89,363,349,41,96,...,5,0,1,9,0,0,0.275,0.300,0.501,0.802
768,Juan Soto,22,401,Maj-NL,Washington,79,332,272,54,77,...,0,0,2,13,5,5,0.283,0.407,0.445,0.852
783,Trevor Story,28,401,Maj-NL,Colorado,77,322,285,42,71,...,4,0,4,3,17,4,0.249,0.323,0.442,0.765

In [49]:
before_2019 = batting_stats_range("2019-04-01", "2019-07-08").query('Name in @derbys_2019')
after_2019 = batting_stats_range("2019-07-08", "2019-11-01").query('Name in @derbys_2019')
before_2019

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,HBP,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS
2,Ronald Acuna Jr.,21,1136,Maj-NL,Atlanta,87,399,350,67,103,...,7,0,0,5,12,2,0.294,0.376,0.514,0.891
22,Pete Alonso,24,1136,Maj-NL,New York,86,362,313,56,85,...,12,0,2,7,1,0,0.272,0.365,0.629,0.994
66,Josh Bell,26,1136,Maj-NL,Pittsburgh,86,379,330,68,100,...,2,0,6,7,0,1,0.303,0.377,0.658,1.035
97,Alex Bregman,25,1136,Maj-AL,Houston,84,379,302,60,83,...,4,0,6,5,4,1,0.275,0.406,0.546,0.953
145,Matt Chapman,26,1137,Maj-AL,Oakland,83,362,318,56,83,...,3,0,2,6,0,0,0.261,0.345,0.531,0.877
321,Vladimir Guerrero Jr.,20,1136,Maj-AL,Toronto,61,253,225,29,56,...,1,0,1,12,0,0,0.249,0.328,0.413,0.741
573,Joc Pederson,27,1136,Maj-NL,Los Angeles,78,276,244,40,55,...,7,0,1,3,0,0,0.225,0.312,0.484,0.795
672,Carlos Santana,33,1136,Maj-AL,Cleveland,84,367,303,59,88,...,1,0,0,10,4,0,0.290,0.414,0.538,0.952

In [50]:
before_2018 = batting_stats_range("2018-04-01", "2018-07-16").query('Name in @derbys_2018')
after_2018 = batting_stats_range("2018-07-16", "2018-11-01").query('Name in @derbys_2018')
before_2018

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,HBP,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS
8,Jesus Aguilar,28,1493,Maj-NL,Milwaukee,84,313,270,47,80,...,3,0,7,7,0,0,0.296,0.371,0.622,0.993
45,Javier Baez,25,1493,Maj-NL,Chicago,88,352,332,60,99,...,4,0,3,4,18,2,0.298,0.330,0.578,0.908
97,Alex Bregman,24,1493,Maj-AL,Houston,93,421,360,67,106,...,6,0,1,10,8,3,0.294,0.394,0.550,0.944
267,Freddie Freeman,28,1493,Maj-NL,Atlanta,91,404,353,54,111,...,3,0,2,4,6,2,0.314,0.396,0.527,0.923
354,Bryce Harper,25,1494,Maj-NL,Washington,92,405,321,56,68,...,3,0,4,3,6,2,0.212,0.365,0.470,0.836
392,Rhys Hoskins,25,1493,Maj-NL,Philadelphia,83,357,298,47,73,...,4,0,4,5,3,1,0.245,0.357,0.440,0.796
554,Max Muncy,27,1493,Maj-NL,Los Angeles,74,279,225,44,61,...,1,0,1,3,2,0,0.271,0.409,0.604,1.013
721,Kyle Schwarber,25,1493,Maj-NL,Chicago,80,309,254,42,63,...,1,1,1,3,3,3,0.248,0.377,0.480,0.857

In [54]:
before_2018["B-A"] = "Before"
before_2019["B-A"] = "Before"
before_2021["B-A"] = "Before"
after_2018["B-A"] = "After"
after_2019["B-A"] = "After"
after_2021["B-A"] = "After"

In [62]:
before_2018["K_rate"] = before_2018["SO"]/ before_2018["PA"]
before_2019["K_rate"] = before_2019["SO"]/ before_2019["PA"]
before_2021["K_rate"] = before_2021["SO"]/ before_2021["PA"]
after_2018["K_rate"] = after_2018["SO"]/ after_2018["PA"]
after_2019["K_rate"] = after_2019["SO"]/ after_2019["PA"]
after_2021["K_rate"] = after_2021["SO"]/ after_2021["PA"]

In [63]:
before_2018["BB_rate"] = before_2018["BB"]/ before_2018["PA"]
before_2019["BB_rate"] = before_2019["BB"]/ before_2019["PA"]
before_2021["BB_rate"] = before_2021["BB"]/ before_2021["PA"]
after_2018["BB_rate"] = after_2018["BB"]/ after_2018["PA"]
after_2019["BB_rate"] = after_2019["BB"]/ after_2019["PA"]
after_2021["BB_rate"] = after_2021["BB"]/ after_2021["PA"]

In [55]:
list(before_2018.columns)

['Name',
 'Age',
 '#days',
 'Lev',
 'Tm',
 'G',
 'PA',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SH',
 'SF',
 'GDP',
 'SB',
 'CS',
 'BA',
 'OBP',
 'SLG',
 'OPS',
 'B-A',
 'K_rate']

In [64]:
pd.concat([before_2018, after_2018]).sort_values("Name")[["Name", "B-A","R", "HR", "RBI", "BA", "OBP", "SLG", "OPS", "K_rate", "BB_rate"]]

,Name,B-A,R,HR,RBI,BA,OBP,SLG,OPS,K_rate,BB_rate
97,Alex Bregman,Before,67,20,64,0.294,0.394,0.550,0.944,0.123515,0.128266
88,Alex Bregman,After,38,11,39,0.283,0.402,0.520,0.922,0.118081,0.147601
354,Bryce Harper,Before,56,23,52,0.212,0.365,0.470,0.836,0.251852,0.190123
307,Bryce Harper,After,46,11,46,0.300,0.434,0.538,0.972,0.238434,0.185053
267,Freddie Freeman,Before,54,15,57,0.314,0.396,0.527,0.923,0.193069,0.113861
233,Freddie Freeman,After,35,7,37,0.301,0.362,0.465,0.827,0.184669,0.080139
45,Javier Baez,Before,60,19,71,0.298,0.330,0.578,0.908,0.250000,0.036932
46,Javier Baez,After,40,15,39,0.289,0.326,0.540,0.866,0.271429,0.053571
8,Jesus Aguilar,Before,47,24,70,0.296,0.371,0.622,0.993,0.265176,0.105431
8,Jesus Aguilar,After,31,11,38,0.246,0.324,0.436,0.760,0.240000,0.100000
721,Kyle Schwarber,Before,42,16,38,0.248,0.377,0.480,0.857,0.271845,0.168285
651,Kyle Schwarber,After,19,8,20,0.221,0.323,0.417,0.740,0.280423,0.132275
554,Max Muncy,Before,44,22,41,0.271,0.409,0.604,1.013,0.232975,0.186380
496,Max Muncy,After,30,13,38,0.253,0.366,0.553,0.919,0.326733,0.133663
392,Rhys Hoskins,Before,47,13,53,0.245,0.357,0.440,0.796,0.254902,0.140056
342,Rhys Hoskins,After,40,20,40,0.237,0.341,0.546,0.888,0.196552,0.124138

In [65]:
pd.concat([before_2019, after_2019]).sort_values("Name")[["Name", "B-A","R", "HR", "RBI", "BA", "OBP", "SLG", "OPS", "K_rate", "BB_rate"]]

,Name,B-A,R,HR,RBI,BA,OBP,SLG,OPS,K_rate,BB_rate
97,Alex Bregman,Before,60,22,55,0.275,0.406,0.546,0.953,0.124011,0.176781
95,Alex Bregman,After,61,18,56,0.338,0.463,0.671,1.134,0.108108,0.175676
672,Carlos Santana,Before,59,19,49,0.290,0.414,0.538,0.952,0.152589,0.171662
683,Carlos Santana,After,50,15,41,0.262,0.370,0.485,0.855,0.168831,0.142857
573,Joc Pederson,Before,40,17,37,0.225,0.312,0.484,0.795,0.206522,0.086957
578,Joc Pederson,After,35,16,32,0.262,0.346,0.560,0.906,0.239631,0.101382
66,Josh Bell,Before,68,27,83,0.303,0.377,0.658,1.035,0.203166,0.108179
66,Josh Bell,After,25,10,32,0.233,0.351,0.429,0.780,0.173333,0.142222
145,Matt Chapman,Before,56,20,48,0.261,0.345,0.531,0.877,0.196133,0.107735
136,Matt Chapman,After,42,15,39,0.222,0.324,0.465,0.789,0.259786,0.106762
22,Pete Alonso,Before,56,30,65,0.272,0.365,0.629,0.994,0.245856,0.096685
23,Pete Alonso,After,46,23,52,0.235,0.341,0.522,0.863,0.287066,0.110410
2,Ronald Acuna Jr.,Before,67,21,52,0.294,0.376,0.514,0.891,0.240602,0.097744
2,Ronald Acuna Jr.,After,59,20,48,0.263,0.350,0.534,0.884,0.303630,0.112211
321,Vladimir Guerrero Jr.,Before,29,8,25,0.249,0.328,0.413,0.741,0.185771,0.102767
321,Vladimir Guerrero Jr.,After,23,7,44,0.293,0.349,0.452,0.801,0.168582,0.076628

In [68]:
pd.concat([before_2021, after_2021]).sort_values("Name")[["Name", "B-A", "R", "HR", "RBI", "BA", "OBP", "SLG", "OPS", "K_rate", "BB_rate"]]

,Name,B-A,R,HR,RBI,BA,OBP,SLG,OPS,K_rate,BB_rate
275,Joey Gallo,Before,53,24,52,0.239,0.402,0.522,0.923,0.307692,0.205128
266,Joey Gallo,After,37,14,25,0.146,0.279,0.372,0.651,0.394052,0.144981
768,Juan Soto,Before,54,11,42,0.283,0.407,0.445,0.852,0.156627,0.174699
749,Juan Soto,After,57,18,53,0.348,0.525,0.639,1.164,0.127329,0.270186
600,Matt Olson,Before,58,23,59,0.282,0.371,0.567,0.938,0.164835,0.115385
586,Matt Olson,After,43,16,52,0.257,0.372,0.506,0.878,0.171521,0.148867
22,Pete Alonso,Before,39,17,49,0.249,0.326,0.477,0.802,0.214058,0.089457
27,Pete Alonso,After,42,20,45,0.275,0.361,0.560,0.921,0.185185,0.098765
628,Salvador Perez,Before,41,21,53,0.275,0.300,0.501,0.802,0.269972,0.022039
611,Salvador Perez,After,47,27,68,0.269,0.334,0.598,0.932,0.238411,0.066225
595,Shohei Ohtani,Before,65,33,70,0.279,0.364,0.698,1.062,0.285714,0.110787
582,Shohei Ohtani,After,38,13,30,0.229,0.382,0.458,0.839,0.307432,0.195946
783,Trevor Story,Before,42,11,42,0.249,0.323,0.442,0.765,0.223602,0.090062
762,Trevor Story,After,46,13,33,0.253,0.337,0.506,0.843,0.245421,0.087912
489,Trey Mancini,Before,48,16,55,0.256,0.332,0.460,0.791,0.232044,0.088398
471,Trey Mancini,After,29,5,16,0.254,0.319,0.392,0.711,0.232283,0.074803

### Since the second half of the season players generally don't have the same amount of PA before and after- I will be focusing on BA, OBP, SLG, OPS, K + BB rate

## The idea that players get worse after the HR derby is not necessarily true; it is on a case by case basis
## Some players do get worse like for instance ohtani in 2021 but some players get better like soto in 2021 or Harper in 2018
## In general most players have similar SLG, OBP, OPS before and after the HR derby
## Since this is only shortly before the trade deadline it probably won't affect any trade value
### However if the player is going into a free agency year or arbitration it might affect the money they can get in the off season
#### It would be interesting to see underlying metrics of these data ranges of this API